body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    background: #000;
    color: #FFD700;
    text-align: center;
  }
  
  header {
    background: #111;
    color: #FFD700;
    padding: 10px;
    border-bottom: 3px ridge #FFD700;
  }
  
  .logo img {
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  h1 {
    font-size: 26px;
    text-shadow: 2px 2px #333;
  }
  
  nav {
    background: #222;
    border-bottom: 3px groove #FFD700;
    padding: 5px;
  }
  
  nav button {
    padding: 8px 15px;
    margin: 2px;
    border: 2px outset #FFD700;
    background: #333;
    color: #FFD700;
    font-weight: bold;
    cursor: pointer;
  }
  
  nav button.active {
    background: #555;
    border: 2px inset #FFD700;
  }
  
  main {
    width: 800px;
    margin: 20px auto;
    background: #111;
    border: 3px ridge #FFD700;
    padding: 15px;
    text-align: left;
  }
  
  section {
    display: none;
  }
  
  section.active {
    display: block;
  }
  
  input, select, button {
    padding: 6px;
    margin: 5px 0;
    width: 100%;
    border: 2px inset #FFD700;
    background: #222;
    color: #FFD700;
    font-family: Tahoma, Verdana, sans-serif;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #222;
    margin: 5px 0;
    padding: 10px;
    border: 2px groove #FFD700;
    box-shadow: 2px 2px #000;
  }
  
  li img {
    max-width: 80px;
    display: block;
    margin-top: 5px;
    border: 2px solid #FFD700;
  }
  